html
	head
		title=title
		link(rel='stylesheet', href='./css/jquery-mobile.css')
		link(rel='stylesheet', href='./css/index.css')
		script(type='text/javascript',src='cordova.js')
		script(type='text/javascript',src='./js/jquery.js')
		script(type='text/javascript',src='./js/jquery-mobile.js')
	body
	include pages.html